#quarto-margin-sidebar::before {
  content: "";
  height: 120px;
  width: 120px;
  float: right;
  background-image: url("NBIS-logo.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}