#quarto-sidebar-toc-left::before {
  content: "";
  float: left;
  padding-right: 100%;
  padding-bottom: 50%;
  background-image: url("NBIS-logo.png");
  background-size: 70%;
  background-position: left;
  background-repeat: no-repeat;
}

iframe {
  width: 800px;
  height: 800px;
}